 *{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
} 

body {background:#FEFEFE;}

.encabezado {
	display:none;
}

header {
	width: 100%;
}


.boton {
    border: 1px solid #2e518b;
    background-color: #becfe9;
    color: #2e518b;
    text-decoration: none;
    font-family: 'Helvetica', sans-serif;
    border-radius: 50px;
}


header nav {
	z-index:1000;
	margin:10px auto;   
    background-color: #2e518b;
    color: white;
    width: 100%;
    text-align: center;
    padding: 5px;
    font-family: 'Space Grotesk', sans-serif;
}

header nav ul {
	list-style:none;
}

header nav ul li {
	display:inline-block;
	position: relative;
}

header nav ul li:hover {
	background:#7cbcf8;
}

header nav ul li a {
	color: #2e518b;
	display:block;
	text-decoration:none;
	padding: 5px;
	margin: 5px;

}

header nav ul li a span {
	margin-right:10px;
}

header nav ul li:hover .children {
	display:block;
}

header nav ul li .children {
	display: none;
	background:#011826;
	position: absolute;
	width: 150%;
	z-index:1000;
}

header nav ul li .children li {
	display:block;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255,.5);
}

header nav ul li .children li a {
	display: block;
}

header nav ul li .children li a span {
	float: right;
	position: relative;
	top:3px;
	margin-right:0;
	margin-left:10px;
}

header nav ul li .caret {
	position: relative;
	top:3px;
	margin-left:10px;
	margin-right:0px;
}

@media screen and (max-width: 800px) {
	body {
		padding-top:80px;
	}

	.encabezado {
		display:block;
		width:100%;
		position: fixed;
		top:0;
		background: #2e518b;
	}

	.encabezado .bt-menu {
		display: block;
		padding: 20px;
		color: #fff;
		overflow: hidden;
		font-size: 25px;
		font-weight: bold;
		text-decoration: none;
	}

	.encabezado span {
		float: right;
		font-size: 40px;
	}

	header nav {
		width: 80%;
		height: calc(100% - 80px);
		position: fixed;
		right:100%;
		margin: 0;
		overflow: scroll;
	}

	header nav ul li {
		display: block;
		border-bottom:1px solid rgba(255,255,255,.5);
	}

	header nav ul li a {
		display: block;
	}

	header nav ul li:hover .children {
		display: none;
	}

	header nav ul li .children {
		width: 100%;
		position: relative;
	}

	header nav ul li .children li a {
		margin-left:20px;
	}

	header nav ul li .caret {
		float: right;
	}
}